*{
border: 1px solid rgba(255, 25, 255, 0.5);
}

body{
    border: 0px;
    margin: 0px;
    font-family:'Raleway', sans-serif;
}

.header {
    text-align: center;
}

li {
    
    margin: 10px 0 ;
}
ul {
    letter-spacing: 4px;
    line-height: 30px;
    list-style-type:none;
}

.bold {
    margin: 9px 0px ;
    color: blue;
    font-size: 20px;
    font-weight: 800;
}

.center-image {
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: 800px;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
    margin-bottom: 20px;
}

.image-text{
    margin: 0px 0px 0px 1%;
    width: 60%;
    font-size: 30px;
    color: white;
    position: relative;
    top: 25%;
    text-transform: uppercase;
    border: 1px solid white;
    
}

h1{
    font-size: 42px;
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 3px;
    font-weight: 700;
    padding: 10px;
}
.main{
    padding: 40px;
    margin: 0 auto;
    text-align: center;
    width: 70%;
}

h3{
    color: #D7263D;
    font-size: 30px;
    letter-spacing: 3px;
    padding: 20px 10%;
    font-weight: 700;
}

.creator{
    color: #333;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

p{
    color: #333;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 50px;
    margin-top: 80px; 
    text-align: center;
}

.quote{
    margin: 0 auto;
    width: 80%;
}

h2{
    color: #D7263D;
    border: 1px solid #D7263D;
    padding: 40px 10%;
    font-size: 26px;
    letter-spacing: 4px;
    line-height: 48px;
}

.buttons{
    position: relative;
    text-align: center;
    width: 100%;
    padding: 30px 10px;
    border: 1px solid #333;
    margin-bottom: 20px;
}

button{
    margin: 0px 10px;
    padding: 10px;
    font-size: 20px;
    background-color: red;
    color: white;
    border-radius: 4px;
}
